body {
    font-family: Arial, sans-serif; /* Setare font generic */
    margin: 0; /* Eliminare margini implicite */
    padding: 0; /* Eliminare padding implicit */
}

.container {
    max-width: 800px; /* Limitare la o lățime maximă */
    margin: 0 auto; /* Centrare pe orizontală */
    padding: 20px; /* Adăugare spațiu în jurul conținutului */
}

header {
    text-align: center; /* Centrare text */
    margin-bottom: 20px; /* Adăugare spațiu între titlu și calculator */
}

.calculator {
    width: 100%;
    max-width: 400px; /* Limitare lățime calculator */
    margin: 0 auto; /* Centrare pe orizontală */
    border: 2px solid #6272a4;
    border-radius: 5px;
    padding: 20px;
    background-color: #282a36;
    color: #f8f8f2;
}

#display {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    background-color: #44475a;
    color: #f8f8f2;
    border: none;
    border-radius: 3px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: filter 0.3s; /* Adăugare tranziție pentru butoane */
}

button:hover {
    filter: brightness(1.2);
}

/* Stilizare butoane numere */
.number-button {
    background-color: #44475a;
    color: #f8f8f2;
}

.number-button:hover {
    background-color: #6272a4;
}

/* Stilizare butoane operații */
.operation-button {
    background-color: #ff79c6;
    color: #f8f8f2;
}

.operation-button:hover {
    background-color: #ff8be9;
}

/* Stilizare buton C */
.clear-button {
    background-color: #ff5555;
    color: #f8f8f2;
}

.clear-button:hover {
    background-color: #ff6e6e;
}

/* Stilizare buton = */
.equals-button {
    background-color: #50fa7b;
    color: #f8f8f2;
}

.equals-button:hover {
    background-color: #6effa7;
}

.history {
    margin-top: 20px;
    font-size: 16px;
    color: #bd93f9;
}

footer {
    text-align: center; /* Centrare text */
    margin-top: 20px; /* Adăugare spațiu între calculator și footer */
}

.footer-link {
    color: #fff;
    text-decoration: underline;
}

/* Media query pentru dispozitive de dimensiuni mai mici */
@media (max-width: 768px) {
    .calculator {
        width: 100%;
        max-width: none;
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 10px;
    }

    #display {
        font-size: 18px;
    }

    button {
        font-size: 16px;
        padding: 10px;
    }
}
